<%- include ("admin_header.ejs") %>
<style>
    label{
        font-weight: bold;
    }
    .form{
        border: solid white;
        border-radius: 25px;
        width: 500px;
        background: #ffffff;
        padding: 20px;
    }
</style>

<section id="content">
  <main>

    <div class="container form">
        <h3>Add News</h3>
        <form  method="POST" action="/admin/addNews" enctype="multipart/form-data">
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" id="title" class="form-control">
            </div>
            <div class="form-group">
                <label>Description</label> <br>
                <textarea class="form-control" id="description" name="description"></textarea>
            </div>
            <div class="form-group">
                <label>Select Photo</label><br>
                <input type="file" name="photo" class="form-control-file">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>

  </main>
</section>
