<%- include ("head") %> <%- include ("nav") %>

<div class="container">
    <h2 class="m-3 pt-3">Athletes</h2>
    <div
      class="news"
      style="display: flex; padding-top: 20px; justify-content: space-around"
    >
      <div class="card news-card" style="width: 18rem">
        <img
          src="https://via.placeholder.com/400x200"
          alt="news-image"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card news-card" style="width: 18rem">
        <img
          src="https://via.placeholder.com/400x200"
          alt="news-image"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card news-card" style="width: 18rem">
        <img
          src="https://via.placeholder.com/400x200"
          alt="news-image"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div
      class="news"
      style="display: flex; padding-top: 20px; justify-content: space-around"
    >
      <div class="card news-card" style="width: 18rem">
        <img
          src="https://via.placeholder.com/400x200"
          alt="news-image"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card news-card" style="width: 18rem">
        <img
          src="https://via.placeholder.com/400x200"
          alt="news-image"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card news-card" style="width: 18rem">
        <img
          src="https://via.placeholder.com/400x200"
          alt="news-image"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>

<%- include ("footer") %>
