<footer>
  <div class="background mt-5">
      <div class="d-flex container border-bottom">
          <div class="m-3 p-3"> <img src="/img/logo-b2p-white-v2.png" alt=""></div>
          <div class="container mt-3 p-3">
              <div class="row">
                  <div class="col-lg-3 footer_about">
                      <ul>
                          <li>
                              <h5><a href="">Fun Olympic Games</a></h5>
                          </li>
                          <li><a href="">Paris 2024</a></li>
                          <li><a href="">Results & Medals</a></li>
                          <li><a href="">Replays & Highlights</a></li>
                          <li><a href="">All Fun Olympic Games</a></li>
                      </ul>
                  </div>
                  <div class="col-lg-3 footer_about">
                      <ul>
                          <li>
                              <h5><a href="">Channels</a></h5>
                          </li>
                          <li><a href="">TV Channel</a></li>
                          <li><a href="">Live Events</a></li>
                          <li><a href="">Original Series</a></li>
                          <li><a href="">Corporate</a></li>
                      </ul>
                  </div>
                  <div class="col-lg-3 footer_about">
                      <ul>
                          <li>
                              <h5><a href="/news">News</a></h5>
                          </li>
                          <li><a href="">Podcast</a></li>
                          <li><a href="">Topic</a></li>
                      </ul>
                  </div>
                  <div class="col-lg-3 footer_about">
                      <ul>
                          <li>
                              <h5><a href="">Explore</a></h5>
                          </li>
                          <li><a href="/athletes">Athletes</a></li>
                          <li><a href="/sports">Sports</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

      <div class="container mt-3 p-3 d-flex border-bottom">
          <div class="container text-center m-3  ">
              <div class="footer_two">
                  <a href="">Fun Olympic Committee</a>
                  <a href="">Museum</a>
                  <a href="">About Us</a>
                  <a href="">Sitemap</a>
                  <a href="">Careers</a>
              </div>
          </div>
      </div>
      <div class="foot">
        <p>&copy; 2023 Fun Olympic Committee - All Rights Reserved.</p>
      </div>
  </div>
</footer>

</body>
</html>