<%- include ("head") %> <%- include ("nav") %>
<link rel="stylesheet" href="/css/news.css" />

<div id="loader-overlay">
  <div class="loader"></div>
</div>

<div class="container">
  <h2 class="m-3 pt-3">Fun Olympic News</h2>
  <div class="container" style="padding-top: 30px">
    <div
      class="news"
      style="display: flex; padding-top: 20px; justify-content: space-around"
    >
      <div class="card news-card" style="width: 18rem">
        <img
          src="https://img.olympicchannel.com/images/image/private/t_16-9_480/f_auto/v1538355600/primary/a8xqjnjen93z4ccpzdt7"
          alt="news-image"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">
            Fun Olympic 2023: Princess-inspired Healey writes fairytale ending
            in Krakow with gold
          </h5>
          <p class="card-text">
            British archer Penny Healey has one up on a Disney princess who
            inspired her to take up archery.
          </p>
        </div>
      </div>
      <div class="card news-card" style="width: 18rem">
        <img
          src="https://img.olympicchannel.com/images/image/private/t_16-9_480/f_auto/v1538355600/primary/vwlm1zkxqseyupu7dt5o"
          alt="news-image"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">
            Fun Olympic 2023 Wimbledon preview: Djokovic eyes Open Era record
            24th major; Swiatek, Rybakina lead women - Schedule, how to watch
          </h5>
          <p class="card-text">
            At age 36, Novak Djokovic has made his intentions clear: He's
            playing for t...
          </p>
        </div>
      </div>
      <div class="card news-card" style="width: 18rem">
        <img
          src="https://img.olympicchannel.com/images/image/private/t_16-9_480/f_auto/v1538355600/primary/hp1uhwqgbrguajcqdpgp"
          alt="news-image"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">
            Fun Olympic 2023: Katie Ledecky out touched by Claire Weinstein in
            200m free
          </h5>
          <p class="card-text">
            16-year-old Claire Weinstein chased down seven-time Olympic gold
            medallist Katie Ledecky Wednesday (27 June) to win the 200m
            freestyle crown at the U.S. Swimming Championships in Indianapolis.
          </p>
        </div>
      </div>
    </div>
  </div>

  <main>
    <div class="cards-container container flex" id="cards-container"></div>
  </main>

  <template id="template-news-card">
    <div class="card">
      <div class="card-header">
        <img
          src="https://via.placeholder.com/400x200"
          alt="news-image"
          id="news-img"
        />
      </div>
      <div class="card-content">
        <h3 id="news-title">This is the Title</h3>
        <h6 class="news-source" id="news-source">End Gadget 26/08/2023</h6>
        <p class="news-desc" id="news-desc">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          saepe quis voluptatum quisquam vitae doloremque facilis molestias quae
          ratione cumque!
        </p>
      </div>
    </div>
  </template>
</div>

<script src="/js/news.js"></script>

<%- include ("footer") %>
